body {
	font-size: 13px;
	font-family: Arial, sans-serif;
	margin: 0;
	min-width: 960px;
}

a {
	text-decoration: none;
}

#top-bar {
	text-align: right;
	padding-top: 20px;
}

#top-bar a {
	color: rgb(64, 64, 64);
	margin-right: 15px;
}

a#sign-in{
	background-color: #4486F9;
	color: white;
	font-weight: bold;
	padding: 7px 13px;
	border-radius: 3px;
	margin-right: 20px;
}

a#sign-in:hover {
	text-decoration: none;
	cursor: default;
}

a:visited {
	color: #333333;
}

a:hover {
	text-decoration: underline;
}

footer a {
	color: rgb(100, 100, 100);
	margin: 0 15px;
}

section {
	margin-top: 185px;
	text-align: center;
}

img {
	width: 269px;
}

form {
	margin-top: 20px;
}

#search-input {
	width: 570px;
	height: 18px;
	border: 1px solid #c7c7c7;
	padding: 5px 7px;
	font-size: 16px;
}

#search-input:hover {
	border-color: #a3a3a3;
}

#search-input:focus {
	border-color: #57a5ff;
	outline: none;
}

form div {
	text-align: center;
}

input[type="submit"] {
	font-size: 11px;
	margin: 15px 8px;
	font-family: Arial, sans-serif;
	-webkit-appearance: none;
	font-weight: bold;
	background-color: rgb(242, 242, 242);
	padding: 7px 8px;
	border: 1px solid #d6d6d6;
	border-radius: 2px;
}

input[type="submit"]:hover {
	border: 1px solid #c1c1c1;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-width: 960px;
	padding: 15px 0;
	background-color: rgb(238, 238, 238);
	border-top: 1px solid #e1e1e1;
}

.footer-left {
	padding-left: 15px;
}

.footer-right {
	float: right;
	padding-right: 15px;
}